*{
    color: black;
}
body {
    margin: 0;
    padding: 0;
    color: #333;
}
.navegacion {
    background-color: lightblue;
    padding: 15px 5px;
    margin: auto;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
}
.navegacion a {
    color: black;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.presentacion{
    position: absolute;
    top: 200px;
    left: 500px;
}

h2 span{
    color: rgb(81, 201, 241);
    font-size: 25px;
}
h1, h2{
font-family:'Times New Roman', Times, serif
}

.sobremi{
    position: absolute;
    top: 50px;
    left: 500px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(93, 183, 183);
}

table {
    margin: 50px auto;
    width: 80%;
    max-width: 700px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    border-collapse: collapse;
}

th, td{
    border: 2px solid black;  
    text-align: center;
    padding: 20px;
}
